.registerContainer {
  height: 100%;
  overflow-y: auto;
}
.entryContainer {
  width: 100%;
}

.header {
  font-weight: bold;
  margin-left: 2em;
}

#root {
  width: 60rem;
  margin: auto;
  background-color: #fddcff;
}

#App {
  background-color: #fffedc;
}
